<div class="container-fluid">
  <div class="py-4 bg-body-tertiary mb-5 app-content">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <h1 class="h3 text-primary">Estudiantes</h1>
      </div>
      <div>
        <button class="btn btn-primary d-flex justify-content-center" routerLink="add">
          <app-material-icon>add</app-material-icon>
          Crear
        </button>
      </div>
    </div>
  </div>

  <div class="body mb-auto my-5">
    <div class="table-container">
      <!-- TODO: add table here -->
    </div>
    <div>
      <!-- TODO: add pagination here -->
    </div>
  </div>
</div>
