<div class="container-fluid">
  <div class="py-4 bg-body-tertiary mb-5 app-content">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <h1 class="h3 text-primary">Estudiantes</h1>
      </div>
      <div>
        <button class="btn btn-primary d-flex justify-content-center" routerLink="add">
          <app-material-icon>add</app-material-icon>
          Crear
        </button>
      </div>
    </div>
  </div>

  <div class="body mb-auto my-5">
    <div class="table-container">
      <table class="w-100">
        <tr>
          <th class="th-carnet">Carnet</th>
          <th class="th-name">Nombre</th>
          <th class="th-email">Correo electr&oacute;nico</th>
          <th class="th-carerr">Carrera</th>
        </tr>
        <ng-container *ngFor="let student of students">
          <tr>
            <td>{{ student.carnet }}</td>
            <td>{{ student.user.fullName }}</td>
            <td>{{ student.user.email }}</td>
            <td>{{ student.career.name }}</td>
          </tr>
        </ng-container>
      </table>
    </div>
    <div>
      <app-pagination
        [(page)]="page"
        [pageSize]="pageSize"
        [collectionSize]="collectionSize"
        [currentListSize]="this.students.length"
        (pageChange)="onPageChange($event)"
      >
      </app-pagination>
    </div>
  </div>
</div>
