<div class="container-fluid">
  <div class="py-4 bg-body-tertiary mb-5 app-content">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <h1 class="h3 text-primary">Carreras</h1>
      </div>
      <div>
        <button class="btn btn-primary d-flex justify-content-center" routerLink="add">
          <app-material-icon>add</app-material-icon>
          Crear
        </button>
      </div>
    </div>
  </div>

  <div class="body mb-auto my-5">
    <div class="table-container">
      <table class="w-100">
        <tr>
          <th class="th-code">C&oacute;digo</th>
          <th class="th-name">Nombre</th>
          <th class="th-action">Acciones</th>
        </tr>
        <tr *ngFor="let career of careers">
          <td>{{ career.code }}</td>
          <td>{{ career.name }}</td>
          <td>
            <div class="d-flex justify-content-center align-items-center">
              <button class="btn btn-outline-success d-flex align-items-center p-1" [routerLink]="['edit', career.careerId]">
                <app-material-icon>edit</app-material-icon>
              </button>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <div>
      <app-pagination
        [(page)]="page"
        [pageSize]="pageSize"
        [collectionSize]="collectionSize"
        [currentListSize]="this.careers.length"
        (pageChange)="onPageChange($event)"
      >
      </app-pagination>
    </div>
  </div>
</div>
