<div class="container">
  <div class="row">
    <div class="col my-4">
      <h1 class="h3 text-primary fw-semibold">
        {{ studentId ? 'Editar estudiante' : 'Agregar estudiante' }}
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-lg-12">
      <div class="mb-4">
        <app-form-label label="Carrera"></app-form-label>
        <ng-select
          [(ngModel)]="student.career"
          [compareWith]="compareWith"
          appendTo="body"
        >
          <ng-container *ngFor="let career of careers">
            <ng-option [value]="career">
              <span class="fw-semibold small">({{ career.code }})</span>
              {{ career.name }}
            </ng-option>
          </ng-container>
        </ng-select>
      </div>
    </div>

    <div class="col-12 col-lg-6">
      <div class="mb-4">
        <app-form-label label="Carnet"></app-form-label>
        <input class="form-control" type="text" name="carnet" placeholder="Eje: 201430927" [(ngModel)]="student.carnet">
      </div>
    </div>

    <div class="col-12 col-lg-6">
      <div class="mb-4">
        <app-form-label label="Correo electrónico"></app-form-label>
        <input class="form-control" type="text" name="email" placeholder="Eje: luismi@cunoc.edu.gt" [(ngModel)]="student.user.email">
      </div>
    </div>

    <div class="col-12 col-lg-6">
      <div class="mb-4">
        <app-form-label label="Nombre"></app-form-label>
        <input class="form-control" type="text" name="name" placeholder="Eje: Luis Miguel Gallego" [(ngModel)]="student.user.fullName">
      </div>
    </div>

    <div class="col-12 col-lg-6">
      <div class="mb-4">
        <app-form-label label="Fecha de nacimiento"></app-form-label>
        <app-single-date-picker [(date)]="student.birthday"></app-single-date-picker>
      </div>
    </div>

    <ng-container *ngIf="!studentId">
      <div class="col-12 col-lg-6">
        <div class="mb-4">
          <app-form-label label="Contraseña"></app-form-label>
          <div class="input-prefix-icon input-suffix-icon">
            <app-material-icon>lock</app-material-icon>
            <input class="form-control" [type]="showPass0 ? 'text' : 'password'" name="password0" placeholder="Ingrese su contraseña" [(ngModel)]="student.user.password">
            <app-material-icon class="btn text-primary btn-sm d-inline-flex" (click)="showPass0 = !showPass0">
              {{ showPass0 ? 'visibility' : 'visibility_off' }}
            </app-material-icon>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-6">
        <div class="mb-4">
          <app-form-label label="Confirmar contraseña"></app-form-label>
          <div class="input-prefix-icon input-suffix-icon">
            <app-material-icon>lock</app-material-icon>
            <input class="form-control" [type]="showPass1 ? 'text' : 'password'" name="password1" placeholder="Confirme su contraseña" [(ngModel)]="password1">
            <app-material-icon class="btn text-primary btn-sm d-inline-flex" (click)="showPass1 = !showPass1">
              {{ showPass1 ? 'visibility' : 'visibility_off' }}
            </app-material-icon>
          </div>
        </div>
      </div>
    </ng-container>

  </div>

  <div class="row">
    <app-crud-footer
      [cancelRoute]="['/students']"
      (saveEvent)="onSubmit()"
    >
    </app-crud-footer>
  </div>
</div>
