<div class="area"></div>
<nav class="main-menu">
  <ul>
    <li>
      <a role="button">
        <div class="fa fa-home fa-2x d-flex align-items-center justify-content-center">
          <app-material-icon>account_circle</app-material-icon>
        </div>
        <p class="nav-text fw-bolder">
          Mi perfil
        </p>
      </a>
    </li>
    <li>
      <a role="button">
        <div class="fa fa-home fa-2x d-flex align-items-center justify-content-center">
          <app-material-icon>person</app-material-icon>
        </div>
        <p class="nav-text fw-bolder">
          Usuarios
        </p>
      </a>
    </li>
    <li>
      <a role="button">
        <div class="fa fa-home fa-2x d-flex align-items-center justify-content-center">
          <app-material-icon>badge</app-material-icon>
        </div>
        <p class="nav-text fw-bolder">
          Estudiantes
        </p>
      </a>
    </li>
    <li>
      <a role="button">
        <div class="fa fa-home fa-2x d-flex align-items-center justify-content-center">
          <app-material-icon>book_2</app-material-icon>
        </div>
        <p class="nav-text fw-bolder">
          Libros
        </p>
      </a>
    </li>
    <li>
      <a role="button">
        <div class="fa fa-home fa-2x d-flex align-items-center justify-content-center">
          <app-material-icon>person_book</app-material-icon>
        </div>
        <p class="nav-text fw-bolder">
          Prestamos
        </p>
      </a>
    </li>
  </ul>
  <ul class="logout">
    <li>
      <a role="button" (click)="logout()">
        <div class="fa fa-2x d-flex align-items-center justify-content-center">
          <app-material-icon>logout</app-material-icon>
        </div>
        <p class="nav-text fw-bolder">
          Cerrar sesi&oacute;n
        </p>
      </a>
    </li>
  </ul>
</nav>
