th, td {
  white-space: normal !important;
}

.th-isbn {
  width: 15%;
}

.th-title {
  width: 17.5%;
}

.th-author {
  width: 17.5%;
}

.th-editorial {
  width: 15%;
}

.th-date {
  width: 15%;
}

.th-stock {
  width: 15%;
}

.th-action {
  width: 5%;
}
